# Origin
WhyConID/

# Common
.history
.vscode

# python venv & cache
__pycache__/
.venv/
env/

# output
output/

# docs
docs/hide

# temporary folder
api/
web/
core/TEST/double-colias.mp4
core/TEST/single-colias-2.mp4
core/TEST/single-colias-1.mp4
